.App {
  text-align: center;
  background-color: white;
  height: 100vmin;
}
.nav{
  /* background-color: rgb(78, 172, 255); */
  padding: 20px;
  color: white;
}
.nav-home{
  margin-right: 130px;
  font-size: 30px;
  margin-bottom: -10px;
}
.nav-home:hover{
  color:rgb(164, 161, 161);
  }
.nav-events{
  margin-right: 100px;
  font-size: 19px;
  text-decoration: none;  
}
.nav-events:hover{
  color:rgb(164, 161, 161);
  }
.nav-login{
  margin-right: 60px;
  font-size: 18px;
  text-decoration: none;
}
.nav-login:hover{
  color:rgb(164, 161, 161);
  }
.nav-signup{
  margin-right: 0px;
  font-size: 19px;
  text-decoration: none;
}
.nav-signup:hover{
  color:rgb(164, 161, 161);
  }

.alllocations{
  background-color: rgb(40, 40, 40);
  width: 100vw;
  /* height: 94vh; */
  background-size:  cover;
  background-position:center center;
  background-repeat: no-repeat;
  margin-top: -110px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.alllocations-font{
  font-size: 50px;
  font-weight: bold;
  padding: 80px;
  color: rgb(233, 225, 225);
  font-family:fantasy;
}
.alllocations2{
  color: black;
  margin-left: 10px;
  height: 30px;
  width: 150px;
  font-size: 13px;
  border: 0.2em solid #FFFFFF;  
  /* margin:0 0.3em 0.3em 0; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  display:inline-block;
  background:none ;
  cursor: pointer;
  margin-left: 20px;
}
.alllocations2:hover{
  color:rgb(0, 0, 0);
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.alllocations2{
      display:block;
      margin:0.4em auto;
  }
}
.alllocations5{
  width: 500px;
  padding: 5px;
  margin-left: 80px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid rgb(72, 22, 34);

}
th, td {
  padding: 15px;
  text-align: left;
}
.content-table{
  border-collapse: collapse;
  margin: 60px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  width: 1530px;
  margin-left: 4%;
}

.content-table thead tr {
  width: 1535px;
  margin-left: 0;
  background-color: #54335e;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  display: grid;
  grid-template-columns: 109px 1199px 92px 30px 50px 95px;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #c4b8c4;
}
.link{
  height: 25px;
  width: 150px;
  font-size: 14px;
  /* padding: 0.5em 1.5em;   */
  border: 0.2em solid #FFFFFF;  
  /* margin:0 0.3em 0.3em 0; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  display:inline-block;
  background:none ;
  cursor: pointer;
}
.link:hover{
  color:rgb(0, 0, 0);
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.welcome-box3{
      display:block;
      margin:0.4em auto;
  }
  }
/* .bye{
  background-color: #009879;
  margin-top: -50px;
} */

.delete-button{
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin-left: 750px;
  padding: 15px;
  font-size: 18px;

}
.delete-button1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 700px;
  color: black;
  box-shadow: 0 0 12px rgb(243, 182, 255);
  height: 25px;
  width: 60px;
  font-size: 13px;
  border: 0.2em solid #FFFFFF;  
  /* margin:0 0.3em 0.3em 0; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  background:none ;
  cursor: pointer;
}
.delete-button1:hover{
  color:rgb(0, 0, 0);
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.delete-button1{
      display:block;
      margin:0.4em auto;
  }
}

.th2{
  width: 8500px;
}
.th3{
  width: 300px;
  margin-left: -341px;
}
.th5{
  width: 90px;
  margin-left: -134px;
}
.th6{
  width: 180px;
  margin-left: -75px;
}
.th7{
  width: 108px;
}
.th8{
  width: 859px;
  margin-left: -341px;
}
.th9{
  width: 299px;
  margin-left: -34px;
}
.th10{
  width:89px;
  margin-left: -5px;
}
.th11{
  width: 179px;
  margin-left: -5px;
}

.img1{
  width: 250px;
  height: 450px;
  display: flex;
  margin-top: -720px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img2{
  width: 250px;
  height: 270px;
  display: flex;
  margin-top: -10px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img3{
  width: 240px;
  height: 250px;
  display: flex;
  margin-top: -550px;
  margin-left: 240px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img4{
  width: 240px;
  height: 310px;
  display: flex;
  margin-top: -10px;
  margin-left: 240px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img5{
  width: 220px;
  height: 380px;
  display: flex;
  margin-top: -380px;
  margin-left: 470px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img11{
  width: 320px;
  height: 200px;
  display: absolte;
  margin-top: 130px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img6{
  width: 220px;
  height: 380px;
  display: flex;
  margin-top: -380px;
  margin-left: 990px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img7{
  width: 240px;
  height: 310px;
  display: flex;
  margin-top: -310px;
  margin-left: 1200px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img8{
  width: 240px;
  height: 250px;
  display: flex;
  margin-top: -550px;
  margin-left: 1200px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img9{
  width: 250px;
  height: 450px;
  display: flex;
  margin-top: -410px;
  margin-left: 1430px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
.img10{
  width: 250px;
  height: 270px;
  display: flex;
  margin-top: -10px;
  margin-left: 1430px;
  /* border: solid 5px black; */
  border-radius: 30px;
  padding: 10px;
}
/* ==================== */
.locationdetails{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  background-image: url("https://i.pinimg.com/564x/9b/66/09/9b66097d7855d55a596a1dbe14e5d7c7.jpg");
  margin-top: -110px;
  color: white;
  height: 97vh;
}
.edit-button{
  color: black;
  margin-left: 30px;
  height: 30px;
  width: 150px;
  font-size: 13px;
  border: 0.2em solid #FFFFFF;  
  /* margin:0 0.3em 0.3em 0; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  display:inline-block;
  background:none ;
  cursor: pointer;
}
.edit-button:hover{
  color:rgb(0, 0, 0);
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.welcome-box3{
      display:block;
      margin:0.4em auto;
  }
}
.edit-box{
  width: 500px;
  padding: 5px;
  margin-left: 20px;
  box-shadow: 0 0 13px rgb(239, 191, 255);
}
.add-button{
  color: black;
  margin-left: 10px;
  height: 30px;
  width: 150px;
  font-size: 13px;
  border: 0.2em solid #FFFFFF;  
  /* margin:0 0.3em 0.3em 0; */
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: rgb(255, 255, 255);
  text-align:center;
  transition: all 0.2s;
  display:inline-block;
  background:none ;
  cursor: pointer;
}
.add-button:hover{
  color:rgb(0, 0, 0);
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.welcome-box3{
      display:block;
      margin:0.4em auto;
  }
}
.add-box{
  width: 230px;
  margin-right: 18px;
  color:black;
  padding: 6px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 12px rgb(243, 182, 255);
}
.add-text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  /* margin-top: 30px; */
}

.name1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20%;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 40%;
  padding: 100px;
  margin-bottom: -70px;
}
h4{
  color: white;
}
.add-text{
  display: flex;
  margin-left: 45%;
}
.add-input-box{
  margin-left: 10%;
  margin-top: -10px;
}